<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privatesecuredata.arch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <activity
        android:name=".EditMeasurementValueDialogActivity"
        android:label="Edit Value"
        android:theme="@android:style/Theme.Dialog"
        >
    </activity>
</manifest>
